:root 
{
  --dark: #13293d;
  --light: #fff;
  --border: 15px; 

}
body
{
    width: 100%; 
    scroll-behavior: smooth;
    /*Chaning font*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-style: sans-serif;
}
/* NAV BAR */
    /*header:: nav-bar's text styled here. */ 
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3%;
        /* use CSS var() function to reference a variable created above */
        /* background-color:darkblue; */
        background: url(images/code_background.jpg); 
        color: var(--light);
    }
    header > h1 
    {
      font-size: 800%;
    }
    /*a:: links to each section in the nav bar are styled here. T*/ 
    a 
    {
        display: inline;
        color: var(--light);
        font-size: 350%;
        font-weight: bold;
        padding-right: 30px;
        /*ensures that there is no line underneath navigation text*/ 
        text-decoration:none; 
    }

/*Layout:: Positions relative to the grid layout*/
    header
    {
        grid-area: header;
    }
    /*Ensures that the AboutMe section has enough distance from header*/
    #AboutMe_Section
    {
        padding: 2%; 
    }
    /*Titles*/ 
        main > section > h1 
        {
            margin-left: 15%; 
            display: inline-block; 
            line-height: normal;
            font-size: 500%;
        }
        #about_me_title
        {
            grid-area: about_me_title; 
            border-spacing: var(--border);
        }
        .Work > #work_title
        {
            grid-area: work_title; 
            border-spacing: var(--border); 
            float:left; 
        }

        #contactMe_title
        {
            grid-area: contactMe_title; 
            border-spacing: var(--border);
            /* margin-left: 13%; */

        }
    /*Content*/
        main > section > p
        {
            /* margin-left: 0%; */
            display: inline-block; 
            line-height: normal;
            font-size: 350%;
            /* border-left:: vertical border between paragraph and header*/
            border-left: thick solid var(--dark);
            /* Ensures that the content position is next to the header */
            position:absolute; 
            /* Prevents text from overlapping with image */
            padding-right: 600px; 
        }
        #about_me_content
        {
            grid-area: about_me; 
            
            /* right: 0px; */
            
            /*border-left: thick solid var(--dark);*/
        }
        .Work > a > #work1
        {
            border-left: thick solid var(--dark);
            grid-area: work; 
            position:relative;  
        }
        .Work > a > #work2
        {
            border-left: thick solid var(--dark);
            grid-area: work; 
            position:relative;  
        }
        #contactMe_content
        {
            grid-area: contact_me; 
            /* border-left: thick solid var(--dark); */
            /*margin-left: 180px; */ 
        }


/*main:: includes the grid template and layout of sub-sections*/

    main 
    {
        display: grid;
        grid-template-areas:
        "header header header header header header"
        "about_me_title about_me_content about_me_content about_me_content"
        "work_title work work work work work"
        "contactMe_title contact_me contact_me contact_me";
        grid-gap: 1.5rem; 
        grid-template-columns: 10fr fr 1fr 1fr; 
        grid-auto-rows: minmax(100px, auto);
        width: 100%; 
    }
    

/* AboutMe image*/
    /* Styled in a rounded shape  */
    #AboutMe_Section > img
    {
        border-radius: 50%;
        /* position:absolute; */
        margin-right: 0rem;
    }
    /*Position to the right*/
    img.right 
    {
        float:right; 
        padding:5px;
        width: 500px;
        height: 500px; 
    }

    /*
    #Work >img 
    {
        border-left: thick solid var(--dark);
        position:absolute;
    }
    */ 



